<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Bootstrap core CSS -->
        <link href="bootstrap_theme/bootstrap.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="blocks.css">
        <link href="style.css" rel="stylesheet">
        <link href="footer_style.css" rel="stylesheet">
        <link rel="stylesheet" href="bootstrap_theme/icons.css">
        <title>Design of the Week Template 15 - Pinegrow Web Editor</title>
    </head>
    <body class="text-muted">
        <header class="bg-white"> 
            <div class="container"> 
                <div class="align-items-center bg-white gx-2 pb-0 pt-3 py-3 row"> 
                    <div class="col"> <a class="align-items-center d-inline-flex fw-bold h4 mb-0 navbar-brand text-uppercase"> <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 100 100" width="2.5em" height="2.5em" class="me-1 text-primary" fill="currentColor">
                                <path d="M90 42.301 76.666 19.209l-13.334 7.699V10H36.667v16.908l-13.335-7.699L10 42.301 23.332 50 10 57.698l13.331 23.093 13.335-7.698V90h26.666V73.093l13.334 7.698L90 57.698 76.666 50 90 42.301zm-9.107 17.84-6.666 11.543-17.561-10.138v21.787H43.332V61.546L25.774 71.684l-6.666-11.543L36.667 50 19.108 39.863l6.666-11.549 17.558 10.14V16.667h13.334v21.787l17.561-10.14 6.666 11.549L63.332 50l17.561 10.141z"/>
                            </svg><span>НАЗВАНИЕ</span></a> 
                    </div>                     
                    <div class="col-auto"> 
                        <div class="align-items-center d-inline-flex gap-2 gap-lg-3 py-1"> <a class="align-items-center d-inline-flex gap-2 lh-1 text-decoration-none"> <span class="bg-primary lh-1 p-2 rounded text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="1.25em" height="1.25em"> 
                                        <path d="M21 16.42v3.536a1 1 0 0 1-.93.998c-.437.03-.794.046-1.07.046-8.837 0-16-7.163-16-16 0-.276.015-.633.046-1.07A1 1 0 0 1 4.044 3H7.58a.5.5 0 0 1 .498.45c.023.23.044.413.064.552A13.901 13.901 0 0 0 9.35 8.003c.095.2.033.439-.147.567l-2.158 1.542a13.047 13.047 0 0 0 6.844 6.844l1.54-2.154a.462.462 0 0 1 .573-.149 13.901 13.901 0 0 0 4 1.205c.139.02.322.042.55.064a.5.5 0 0 1 .449.498z"/> 
                                    </svg> </span> <div class="d-lg-block d-none">
                                    <div class="mb-1 small text-black-50">Связаться с нами</div>
                                    <div class="mb-1 small text-black-50"></div>
                                    <div class="fw-bold">+7(000) 000 00 00</div>
                                </div> </a>
                            <a class="align-items-center d-inline-flex gap-2 lh-1 text-decoration-none"> <span class="bg-primary lh-1 p-2 rounded text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="1.25em" height="1.25em"> 
                                        <path d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/> 
                                    </svg> </span> <div class="d-lg-block d-none">
                                    <div class="mb-1 small text-black-50">Адрес</div>
                                    <div class="fw-bold">Владивосток, ул. ___ д. __</div>
                                </div> </a> 
                        </div>                         
                    </div>
                    <div class="col-auto"> <a class="btn btn-primary" href="auth.html" role="button">Личный кабинет</a> 
                    </div>                     
                </div>
                <hr class="mb-0"> 
            </div>
            <div class="d-flex justify-content-center align-items-center flex-wrap w-100 "><a id="admin_profile" role="button" class="border-white btn btn-outline-light fs-3 text-primary w-50" href="administrator_account.html">Панель администратора</a>
            </div>             
            <div class="container">
                <hr class="m-0"> 
            </div>             
            <nav class="navbar navbar-expand-lg pb-0 pt-0 sticky-top mb-3"> 
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler11" aria-controls="" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> 
                </button>
                <div class="collapse navbar-collapse mt-3 w-100 mb-3" id="navbarToggler11">
                    <div class="container my-2">
                        <div class="d-flex flex-wrap gap-3 justify-content-center">
                            <button class="btn btn-lg btn-light border shadow-sm px-4 py-2 d-flex align-items-center gap-2"><i class="bi bi-display"></i> Главная
                            </button>
                            <button class="btn btn-lg btn-light border shadow-sm px-4 py-2 d-flex align-items-center gap-2"><i class="bi bi-calendar3"></i> Расписание приёмов
                            </button>
                            <button class="btn btn-lg btn-light border shadow-sm px-4 py-2 d-flex align-items-center gap-2"><i class="bi bi-person-fill-gear"></i>Список пациентов
                            </button>
                            <button class="btn btn-lg btn-light border shadow-sm px-4 py-2 d-flex align-items-center gap-2">
                                <i class="bi bi-person-badge"></i> Список врачей
                            </button>
                            <button class="btn btn-lg btn-light border shadow-sm px-4 py-2 d-flex align-items-center gap-2">
                                <i class="bi bi-person-lines-fill"></i> Список администраторов
                            </button>
                            <button class="btn btn-lg btn-light border shadow-sm px-4 py-2 d-flex align-items-center gap-2"><i class="bi bi-box-seam"></i> Расходные материалы
                            </button>
                            <button class="btn btn-lg btn-light border shadow-sm px-4 py-2 d-flex align-items-center gap-2"><i class="bi bi-graph-up"></i> Аналитика
                            </button>
                        </div>
                    </div>                     
                </div>                 
            </nav>             
        </header>
        <main> 
            <div class="container w-75">
                <div>
                    <script>
            
                            (function () {
                                'use strict'
                               
                                var forms = document.querySelectorAll('.needs-validation')

                                Array.prototype.slice.call(forms)
                                    .forEach(function (form) {
                                        form.addEventListener('submit', function (event) {
                                            if (!form.checkValidity()) {
                                                event.preventDefault()
                                                event.stopPropagation()
                                            }

                                            form.classList.add('was-validated')
                                        }, false)
                                    })
                            })()
                        </script>
                </div>
            </div>
            <div id="app" class="bg-light container d-flex justify-content-center mx-auto w-50 mt-3 mb-3">
                <div class="bg-light container d-flex justify-content-center mx-auto w-50">
                    <form @submit.prevent="handleSubmit" class="mx-auto needs-validation" style="max-width: 500px;" novalidate>
                        <h3 class="bg-light fw-semibold h3 text-center text-primary mt-3">Зарегистрировать сотрудника</h3>
                        <!-- Роль -->
                        <div class="mb-3">
                            <label for="role" class="form-label text-primary">Роль<span style="color:red;">*</span>
                            </label>
                            <select v-model="form.role" id="role" required class="form-control text-primary">
                                <option value="">--Выберите--</option>
                                <option value="doctor">Врач</option>
                                <option value="administrator">Администратор</option>
                            </select>
                        </div>
                        <!-- Фамилия -->
                        <div class="mb-3">
                            <label class="form-label text-primary">Фамилия<span style="color:red;">*</span>
                            </label>
                            <input type="text" v-model="form.secondName" required class="form-control" maxlength="256">
                        </div>
                        <!-- Имя -->
                        <div class="mb-3">
                            <label class="form-label text-primary">Имя<span style="color:red;">*</span>
                            </label>
                            <input type="text" v-model="form.firstName" required class="form-control" maxlength="256">
                        </div>
                        <!-- Отчество -->
                        <div class="mb-3">
                            <label class="form-label text-primary">Отчество</label>
                            <input type="text" v-model="form.surname" class="form-control" maxlength="256">
                        </div>
                        <!-- Пол -->
                        <div class="mb-3">
                            <label class="form-label text-primary">Пол<span style="color:red;">*</span>
                            </label>
                            <select v-model="form.gender" required class="form-control text-primary">
                                <option value="">--Выберите--</option>
                                <option value="male">Мужской</option>
                                <option value="female">Женский</option>
                            </select>
                        </div>
                        <!-- Только для врачей -->
                        <div v-if="form.role === 'doctor'">
                            <div class="mb-3">
                                <label class="form-label text-primary">Специализация:<span style="color:red;">*</span>
                                </label>
                                <input type="text" v-model="form.specialization" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label text-primary">Образование:</label>
                                <input type="text" v-model="form.education" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label text-primary">Стаж (в годах):</label>
                                <input type="number" v-model.number="form.experience" min="0" max="80" class="form-control">
                            </div>
                        </div>
                        <!-- Телефон -->
                        <div class="mb-3">
                            <label class="form-label text-primary">Номер телефона<span style="color:red;">*</span>
                            </label>
                            <input type="tel" v-model="form.phone" ref="phoneInput" class="form-control" placeholder="+7 (___) ___-__-__">
                            <div class="text-danger error">{{ errors.phone }}</div>
                        </div>
                        <!-- Email -->
                        <div class="mb-3">
                            <label class="form-label text-primary">Email<span style="color:red;">*</span>
                            </label>
                            <input type="email" v-model="form.email" class="form-control" maxlength="256">
                            <div class="text-danger error">{{ errors.email }}</div>
                        </div>
                        <!-- Пароль -->
                        <div class="mb-3">
                            <label class="form-label text-primary">Пароль<span style="color:red;">*</span>
                            </label>
                            <input type="password" v-model="form.password" class="form-control" maxlength="128">
                            <div class="text-danger error">{{ errors.password }}</div>
                        </div>
                        <!-- Повтор пароля -->
                        <div class="mb-3">
                            <label class="form-label text-primary">Повторите пароль<span style="color:red;">*</span>
                            </label>
                            <input type="password" v-model="form.password_check" class="form-control" maxlength="128">
                            <div class="text-danger error">{{ errors.passwordCheck }}</div>
                        </div>
                        <!-- Кнопка -->
                        <div class="mb-3 text-center">
                            <button class="btn btn-primary mb-3" type="submit">Зарегистрироваться</button>
                        </div>
                    </form>
                </div>
            </div>
            <script src="https://unpkg.com/imask"></script>
            <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
        </main>
        <footer class="bg-dark text-white-50"> 
            <div class="container"> 
                <div class="col-md pb-2 pt-2">
                    <p class="">&copy; 2002 - 2025. Все права защищены - Название</p>
                </div>
            </div>             
        </footer>         
        <script src="assets/js/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/employee_registration.js"></script>
    </body>
</html>
