<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Bootstrap core CSS -->
        <link href="bootstrap_theme/bootstrap.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="blocks.css">
        <link href="style.css" rel="stylesheet">
        <link rel="stylesheet" href="bootstrap_theme/icons.css">
        <link href="footer_style.css" rel="stylesheet">
        <title>Design of the Week Template 15 - Pinegrow Web Editor</title>
        <style>.tab-content > .tab-pane { display: none; } .tab-content > .active { display: block; } th, td { text-align: center; vertical-align: middle; }</style>
    </head>
    <body class="text-muted">
        <div id="app">
            <header class="bg-white"> 
                <div class="navbar-light"> 
                    <div class="container"> 
                        <div class="align-items-center gx-2 py-3 row"> 
                            <div class="col"> <a class="align-items-center d-inline-flex fw-bold h4 mb-0 navbar-brand text-uppercase"> <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 100 100" width="2.5em" height="2.5em" class="me-1 text-primary" fill="currentColor">
                                        <path d="M90 42.301 76.666 19.209l-13.334 7.699V10H36.667v16.908l-13.335-7.699L10 42.301 23.332 50 10 57.698l13.331 23.093 13.335-7.698V90h26.666V73.093l13.334 7.698L90 57.698 76.666 50 90 42.301zm-9.107 17.84-6.666 11.543-17.561-10.138v21.787H43.332V61.546L25.774 71.684l-6.666-11.543L36.667 50 19.108 39.863l6.666-11.549 17.558 10.14V16.667h13.334v21.787l17.561-10.14 6.666 11.549L63.332 50l17.561 10.141z"/>
                                    </svg><span>НАЗВАНИЕ</span></a> 
                            </div>                             
                            <div class="col-auto"> 
                                <div class="align-items-center d-inline-flex gap-2 gap-lg-3 py-1"> <a class="align-items-center d-inline-flex gap-2 lh-1 text-decoration-none"> <span class="bg-primary lh-1 p-2 rounded text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="1.25em" height="1.25em"> 
                                                <path d="M21 16.42v3.536a1 1 0 0 1-.93.998c-.437.03-.794.046-1.07.046-8.837 0-16-7.163-16-16 0-.276.015-.633.046-1.07A1 1 0 0 1 4.044 3H7.58a.5.5 0 0 1 .498.45c.023.23.044.413.064.552A13.901 13.901 0 0 0 9.35 8.003c.095.2.033.439-.147.567l-2.158 1.542a13.047 13.047 0 0 0 6.844 6.844l1.54-2.154a.462.462 0 0 1 .573-.149 13.901 13.901 0 0 0 4 1.205c.139.02.322.042.55.064a.5.5 0 0 1 .449.498z"/> 
                                            </svg> </span> <div class="d-lg-block d-none">
                                            <div class="mb-1 small text-black-50">Связаться с нами</div>
                                            <div class="mb-1 small text-black-50"></div>
                                            <div class="fw-bold">+7(000) 000 00 00</div>
                                        </div> </a>
                                    <a class="align-items-center d-inline-flex gap-2 lh-1 text-decoration-none"> <span class="bg-primary lh-1 p-2 rounded text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="1.25em" height="1.25em"> 
                                                <path d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/> 
                                            </svg> </span> <div class="d-lg-block d-none">
                                            <div class="mb-1 small text-black-50">Адрес</div>
                                            <div class="fw-bold">Владивосток, ул. ___ д. __</div>
                                        </div> </a> 
                                </div>                                 
                            </div>
                            <div class="col-auto">
                                <!-- Имя пользователя
                                 и поповер управления профилем -->
                                <div id="admin-profile" class="position-relative" v-cloak>
                                    <button @click="isPopoverVisible = !isPopoverVisible" class="btn btn-primary" type="button">
                                        {{ fullName }}
</button>
                                    <div v-if="isPopoverVisible" class="card shadow-sm position-absolute p-3" style="top: 60px; right: 0; z-index: 1050; min-width: 200px;">
                                        <div class="fw-bold mb-2">{{ fullName }}</div>
                                        <div class="d-grid gap-2"><a href="administrator_profile.html" class="btn btn-outline-primary btn-sm">Управление профилем</a><a href="index.html" class="btn btn-outline-danger btn-sm">Выйти</a>
                                        </div>
                                    </div>
                                </div>
                            </div>                             
                        </div>                         
                        <hr class="m-0">
                    </div>
                </div>                 
                <div class="d-flex justify-content-center align-items-center flex-wrap w-100 "><a id="admin_profile" role="button" class="border-white btn btn-outline-light fs-3 text-primary w-50" href="administrator_account.html">Панель администратора</a>
                </div>                 
                <div class="container">
                    <hr class="m-0"> 
                </div>                 
                <nav class="navbar navbar-expand-lg pb-0 pt-0 sticky-top"> 
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler11" aria-controls="" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> 
                    </button>
                    <div class="collapse navbar-collapse w-100" id="navbarToggler11">
                        <div class="container my-2">
                            <div class="d-flex flex-wrap gap-3 justify-content-center">
                                <button class="btn btn-lg btn-light border shadow-sm px-4 py-2 d-flex align-items-center gap-2"><i class="bi bi-display"></i> Главная
                                </button>
                                <button class="btn btn-lg btn-light border shadow-sm px-4 py-2 d-flex align-items-center gap-2"><i class="bi bi-calendar3"></i> Управление расписанием
                                </button>
                                <button class="btn btn-lg btn-light border shadow-sm px-4 py-2 d-flex align-items-center gap-2"><i class="bi bi-person-fill-gear"></i>Список пациентов
                                </button>
                                <button class="btn btn-lg btn-light border shadow-sm px-4 py-2 d-flex align-items-center gap-2">
                                    <i class="bi bi-person-badge"></i> Список врачей
                                </button>
                                <button class="btn btn-lg btn-light border shadow-sm px-4 py-2 d-flex align-items-center gap-2">
                                    <i class="bi bi-person-lines-fill"></i> Список администраторов
                                </button>
                                <button class="btn btn-lg btn-light border shadow-sm px-4 py-2 d-flex align-items-center gap-2"><i class="bi bi-list-ul"></i> Перечень услуг
                                </button>
                                <button class="btn btn-lg btn-light border shadow-sm px-4 py-2 d-flex align-items-center gap-2"><i class="bi bi-graph-up"></i> Аналитика
                                </button>
                            </div>
                        </div>                         
                    </div>                     
                </nav>                 
            </header>
            <main>
                <div class="align-items-center flex-wrap w-100 mt-3">
                    <h3 class="mb-3 text-center">Прайс-лист</h3>
                </div>
                <div class="container py-3">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10">
                            <div class="card p-4">
                                <ul class="nav nav-tabs mb-3 justify-content-center">
                                    <li class="nav-item" v-for="tab in tabs" :key="tab.id">
                                        <button class="nav-link" :class="{ active: activeTab === tab.id }" @click="activeTab = tab.id">
                                            {{ tab.label }}
</button>
                                    </li>
                                </ul>
                                <!-- Поисковая строка и фильтр -->
                                <div class="mb-3 d-flex flex-wrap gap-2 align-items-center">
                                    <input v-model="searchQuery" class="form-control me-2" placeholder="Поиск по названию">
                                    <select v-if="activeTab === 'services'" v-model="selectedCategory" class="form-select w-auto">
                                        <option value="">Все категории</option>
                                        <option v-for="category in serviceCategories" :key="category.id" :value="category.id">{{ category.name }}</option>
                                    </select>
                                </div>
                                <div class="mb-3 text-start">
                                    <button class="btn btn-success" @click="openAddModal">Добавить</button>
                                </div>
                                <!-- Список услуг -->
                                <table class="table table-hover" v-if="activeTab === 'services'">
                                    <thead>
                                        <tr>
                                            <th>Название</th>
                                            <th>Категория</th>
                                            <th>Цена (₽)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="service in services" :key="service.id" @click="openServiceModal(service)" :class="{ 'table-primary': selectedService && selectedService.id === service.id }" style="cursor: pointer;">
                                            <td>{{ service.name }}</td>
                                            <td>{{ service.category.name }}</td>
                                            <td>{{ service.price }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- Список услуг -->
                                <table class="table table-hover" v-if="activeTab === 'materials'">
                                    <thead>
                                        <tr>
                                            <th>Название</th>
                                            <th>Цена (₽)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="material in materials" :key="material.id" @click="openMaterialModal(material)" :class="{ 'table-primary': selectedMaterial && selectedMaterial.id === material.id }" style="cursor: pointer;">
                                            <td>{{ material.name }}</td>
                                            <td>{{ material.price }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Модальное окно управление услугой -->
                <div v-if="selectedService" class="modal show d-block bg-dark bg-opacity-50">
                    <div class="modal-dialog">
                        <div class="modal-content p-1">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ selectedService.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" @click="closeServiceModal"></button>
                            </div>
                            <div class="modal-body">
                                <button @click="startEditingService" class="btn btn-primary me-2">Редактировать</button>
                                <button @click="confirmServiceDelete" class="btn btn-danger">Удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Модальное окно управления расходником -->
                <div v-if="selectedMaterial" class="modal show d-block bg-dark bg-opacity-50">
                    <div class="modal-dialog">
                        <div class="modal-content p-1">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ selectedMaterial.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" @click="closeMaterialModal"></button>
                            </div>
                            <div class="modal-body">
                                <button @click="startEditingMaterial" class="btn btn-primary me-2">Редактировать</button>
                                <button @click="confirmMaterialDelete" class="btn btn-danger">Удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Модалка редактирования цены услуги -->
                <div v-if="isEditingService" class="modal show d-block bg-dark bg-opacity-50">
                    <div class="modal-dialog">
                        <div class="modal-content p-3">
                            <h5 class="modal-title">Редактировать цену</h5>
                            <div class="modal-body">
                                <input min="0" required v-model.number="editedServicePrice" type="number" class="form-control"/>
                            </div>
                            <div v-if="editServiceError" class="text-danger mt-1 mb-3">{{ editServiceError }}</div>
                            <div class="modal-footer">
                                <button @click="saveServicePrice" class="btn btn-success" :disabled="!!editServiceError">Сохранить</button>
                                <button @click="isEditingService = false" class="btn btn-secondary">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Модалка редактирования цены расходника -->
                <div v-if="isEditingMaterial" class="modal show d-block bg-dark bg-opacity-50">
                    <div class="modal-dialog">
                        <div class="modal-content p-3">
                            <h5 class="modal-title">Редактировать цену</h5>
                            <div class="modal-body">
                                <input min="0" required v-model.number="editedMaterialPrice" type="number" class="form-control"/>
                            </div>
                            <div v-if="editMaterialError" class="text-danger mt-1 mb-3">{{ editMaterialError }}</div>
                            <div class="modal-footer">
                                <button @click="saveMaterialPrice" class="btn btn-success" :disabled="!!editMaterialError">Сохранить</button>
                                <button @click="isEditingMaterial = false" class="btn btn-secondary">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form @submit.prevent="submitAdd">
                                <div class="modal-header">
                                    <h5 class="modal-title">Добавить {{ activeTab === 'services' ? 'услугу' : 'материал' }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label class="form-label">Название</label>
                                        <input v-model="newItem.name" type="text" class="form-control" required/>
                                    </div>
                                    <div v-if="addNameError" class="text-danger mt-1 mb-3">{{ addNameError }}</div>
                                    <div v-if="activeTab === 'services'" class="mb-3">
                                        <label class="form-label">Категория</label>
                                        <select v-model="newItem.category_id" class="form-select" required>
                                            <option disabled value="">Выберите категорию</option>
                                            <option v-for="cat in serviceCategories" :value="cat.id">{{ cat.name }}</option>
                                        </select>
                                        <div v-if="addCategoryError" class="text-danger mt-1 mb-3">{{ addCategoryError }}</div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Цена</label>
                                        <input v-model.number="newItem.price" type="number" class="form-control" required min="0"/>
                                    </div>
                                    <div v-if="addPriceError" class="text-danger mt-1 mb-3">{{ addPriceError }}</div>
                                    <div v-if="addError" class="alert alert-danger">{{ addError }}</div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" :disabled="!!addNameError && !!addCategoryError && !!addPriceError">Сохранить</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Vue 3 -->
                <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
                <script src="js/price_list.js"></script>
            </main>
            <footer class="bg-dark text-white-50"> 
                <div class="container"> 
                    <div class="col-md pb-2 pt-2">
                        <p class="">&copy; 2002 - 2025. Все права защищены - Название</p>
                    </div>
                </div>                 
            </footer>             
            <script src="assets/js/popper.min.js"></script>
            <script src="bootstrap/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
